<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Course1</li>
        <li><a href="#">Chpater 1</a></li>
        <li><a href="#">Chapter 2</a></li>
        <li class="nav-header">Coure 2</li>
        <li><a href="#">Chpater1</a></li>
        <li><a href="#">Chapter2</a></li>
        <li><a href="#">Chapter3</a></li>
        <li><a href="#">see more</a></li>
    </ul>
</div>
